@import url(reset.css);
/*头部灰色区域*/
a:hover{
	color: #e4393c;
	text-decoration: underline;
}
.hide{
	display: none;
}
/*头部可关闭广告*/
#top_ad{
	width: 1210px;
	height: 70px;
	margin:0 auto;
	display: block;
}
/*头部可关闭广告结束*/
#top{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f7f7f7;
	border-bottom: 1px solid #eee;

}
#top .top_main{
	width: 1210px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
/*左侧*/
#top .top_main .top_l{
	width: 270px;
}
#top .top_main .top_l p{
	width: 80px;
	float: left;
	/*text-indent: 12px;*/
	/*border:1px solid black;*/
}

#top .top_main .top_l p.shoucang span{
	width: 12px;
	height: 30px;
	background: url(../images/icon_xiao.jpg) 0 9px no-repeat;
}
#top .top_main .top_l p a{
	color: #666;
	margin-left: 4px;
}
#top .top_main .top_l p a:hover{
	/*color: #e4393c;*/
}
#top .top_main .top_l p.didian span.tu{
	width: 12px;
	height: 30px;
	background: url(../images/icon.png) -5px 5px no-repeat;
}
#top .top_main .top_l p.didian span.wenzi{
	margin-left: 4px;
}
/*左侧结束*/
/*右侧*/
#top .top_main .top_r li{
	float: left;
	color: #666;
	margin-left: 13px;
	/*border: 1px solid black;*/
	position: relative;
}
#top .top_main .top_r li span.xian{
	color: #ddd;
}
#top .top_main .top_r li.huiyuan{
	background: url(../images/new-ico.png) 0 10px no-repeat;
	padding-left: 29px;
}
#top .top_main .top_r li.huiyuan a{
	padding-right: 10px;
}
#top .top_main .top_r li.shouji{
	width: 100px;
	height: 30px;
	margin-left: 5px;
	/*padding-left: 20px;*/
	background: url(../images/icon3.png) -128px -355px no-repeat;
	/*background: red;*/
	position: relative;
}
#top .top_main .top_r li.shouji p{
	position: absolute;
	top: 0px;
	left: 0px;
}
#top .top_main .top_r li.shouji p span{
	float: left;
}
#top .top_main .top_r li.shouji .topnei{
	position: absolute;
	width: 85px;
	height: 27px;
	left: 0px;
	top: 3px;
	background: white;
	display: none;
	border: 1px solid #ddd;
	border-bottom: 0;
}
#top .top_main .top_r li.shouji .topnei span{
	width: 15px;
	height: 21px;
	display: block;
	background: url(../images/icon3.png) -129px -399px no-repeat;
	margin-top: 5px;
	margin-left: 2px;
}
#top .top_main .top_r li.shouji .xia{
	position: absolute;
	width: 240px;
	height: 150px;
	background: white;
	left: -1px;
	top: 30px;
	border: 1px solid #ddd;
	display: none;
}
#top .top_main .top_r li.shouji .xia .xia_top{
	width: 220px;
	height: 76px;
	display: block;
	/*background: blue;*/
	
}
#top .top_main .top_r li.shouji .xia .xia_top .xia_top_l{
	float: left;
	width: 76px;
	height: 76px;
	background: url(../images/app_QRcode.png) no-repeat;
	margin-left: 10px;
	margin-top: 18px;
}
#top .top_main .top_r li.shouji .xia .xia_top .xia_top_r{
	float: left;
	width: 110px;
	height: 76px;
	background: url(../images/icon3.png) 0px -438px no-repeat;
	margin-left: 10px;
	margin-top: 18px;
}
#top .top_main .top_r li.shouji .xia .xia_top .xia_top_r span{
	margin-top: 20px;
	display: block;
	height: 20px;
}
#top .top_main .top_r li.shouji .xia .xia_top .xia_top_r span.hongse{
	font-size: 14px;
	color: #E4393C;
	clear: both;
	height: 20px;
	margin-top:0px;
	font-weight: bold;
}
#top .top_main .top_r li.shouji .xia .xia_foot{
	overflow: hidden;
	clear: both;
}
#top .top_main .top_r li.shouji .xia .xia_foot span{
	width: 97px;
	height: 29px;
	display: block;
	background: red;
	float: left;
	margin-right: 4px;
	margin-top: 10px;
}
#top .top_main .top_r li.shouji .xia .xia_foot span.xia_foot1{
	width: 95px;
	height: 29px;
	background: url(../images/icon3.png) 0px -360px no-repeat;
	margin-left: 10px;
}
#top .top_main .top_r li.shouji .xia .xia_foot span.xia_foot2{
	width: 95px;
	height: 29px;
	background: url(../images/icon3.png) 0px -399px no-repeat;
}
#top .top_main .top_r li.shouji a{
	padding-left:25px; 
}
#top .top_main .top_r li .daosan{
	width: 7px;
	height: 7px;
	padding-right: 7px;
	margin-top: 15px;
	background: url(../images/icon2.png) -92px -55px no-repeat;
}
#top .top_main .top_r .li_kehu{
	width: 70px;
	height: 30px;
	margin-left: 0px;
	margin-right: 5px;

}
#top .top_main .top_r li .xiabai{
	position: absolute;
	left: 0px;
	top: 5px;
	background: white;
	width:70px;
	padding-top: 30px;
	text-indent: 5px;
	/*padding-left: 5px;*/
	height: 120px;
	border: 1px solid #ddd;
	display: none;
}
#top .top_main .top_r li .xiabai a{
	display: block;
	line-height: 20px;
}
#top .top_main .top_r li .kehu{
	width: 70px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-left: 7px;
}
#top .top_main .top_r li .kehu a{
	width: 50px;
	height: 30px;
	line-height: 30px;
}
#top .top_main .top_r li.li_kong{
	position: relative;
	width: 70px;
	height: 30px;
}
#top .top_main .top_r li.li_kong .kong_wang{
	width: 76px;
	height: 27px;
	position: absolute;
	left: -6px;
	top: 3px;
	background: white;
	display: none;
	border: 1px solid #ddd;
	border-bottom: 0px;
}
#top .top_main .top_r li.li_kong .wang{
	width: 70px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#top .top_main .top_r li.li_kong .kong_wang_da{
	position: absolute;
	top: 30px;
	left: -175px;
	width: 245px;
	height: 225px;
	background:white;
	border: 1px solid #ddd;
	border-top: 0px;
	display: none;
}
#top .top_main .top_r li.li_kong .kong_wang_da p{
	font-weight: bold;
	color: black;
}
#top .top_main .top_r li.li_kong .kong_wang_da a{
	display: block;
	line-height: 20px;
}
#top .top_main .top_r li.li_kong .kong_wang_da .kong_l{
	width:70px;
	height: auto;
	float: left;
	margin-left: 10px;
}
#top .top_main .top_r li.li_kong .kong_wang_da .kong_m{
	width:70px;
	height: auto;
	float: left;
}
#top .top_main .top_r li.li_kong .kong_wang_da .kong_r{
	width:70px;
	height: auto;
	float: left;
}
#top .top_main .top_r li span,a{
	color: #666;
}
#top .top_main .top_r li a.denglu{
	padding-left: 2px;
	padding-right: 12px;
}
#top .top_main .top_r li a.dingdan{
	/*padding-left: 11px;*/
	padding-right: 12px;
}

/*右侧结束*/
/*头部灰色区域结束*/
/*中间主体区域*/
#main {
	width: 1210px;
	height: auto;
	margin:0 auto;
	/*overflow: hidden;*/
	position: relative;
	z-index: 22;
}
/*logo区域*/
#main .main_logo{
	margin-top: 15px;
	height: 75px;
	position: relative;
	z-index: 22;

}
#main .main_logo .logo{
	position: absolute;
	left: 0;
	top: 0;
}
#main .main_logo .sousuo{
	width: 494px;
	height: 30px;
	border:3px solid #e4393c;
	position: absolute;
	top: 4px;
	left: 330px;
}
#main .main_logo .sousuo .shuru{
	width: 416px;
	height: 30px;
	color: #999;
	font-size: 14px;
	font-family: arial,"\5b8b\4f53";
	line-height: 30px;
	text-indent: 5px;
}
#main .main_logo .sousuo .tijiao{
	width: 78px;
	height: 30px;
	font-size: 14px;
	font-weight: 700;
	color: white;
	background: #e4393c;
}
#main .main_logo p{
	width: 494px;
	height: 18px;
	color: #999;
	position: absolute;
	left: 330px;
	top: 40px;
}
#main .main_logo p a{
	color: #999;
	padding-left: 11px;
}
#main .main_logo p a:hover{
	color: #ff0000;
}
#main .main_logo p a.hong{
	color: #ff0000;
}
#main .main_logo .mine{
	width: 104px;
	height: 30px;
	border:1px solid #efefef;
	
	position: absolute;
	left: 966px;
	top: 12px;
	z-index: 23px;
}
#main .main_logo .mine .mine_kong{
	width: 104px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	display: none;
}
#main .main_logo .mine .mine_nei{
	width: 104px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #f7f7f7;
}
#main .main_logo .mine .mine_kong_da{
	width: 310px;
	height: 255px;
	position: absolute;
	right: -1px;
	top: 29px;
	background:white;
	display: none;
	border:1px solid #f1f1f1;
}
#main .main_logo .mine .mine_kong_da h3{
	height: 37px;
	line-height: 37px;
	padding-left: 9px;
	/*border-bottom: 1px solid #eee;*/
}
#main .main_logo .mine .mine_kong_da h3 a {
	color: #005EA7;
	padding-left: 0px;

}
#main .main_logo .mine .mine_kong_da .left{
	width: 154px;
	height: 123px;
	float: left;
	border-right: 1px solid #f1f1f1;
	/*background: red;*/
}
#main .main_logo .mine .mine_kong_da .left a{
	width: 140px;
	height: 27px;
	display: block;
	padding-left: 10px;
	color:  #005EA7;
	/*background: */
}
#main .main_logo .mine .mine_kong_da .left a:hover{
	background: #f5f5f5;
	text-decoration: none;
	color: #E4393C;
}
#main .main_logo .mine .mine_kong_da .right a{
	width: 140px;
	height: 27px;
	display: block;
	padding-left: 10px;
	color:  #005EA7
}
#main .main_logo .mine .mine_kong_da .right a:hover{
	background: #f5f5f5;
	text-decoration: none;
	color:#E4393C;
}
#main .main_logo .mine .mine_kong_da .right{
	width: 155px;
	height: 123px;
	float: left;
	/*background: blue;*/
}
#main .main_logo .mine .mine_kong_da .di{
	height: 94px;
	/*background: red;*/
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
}
#main .main_logo .mine .mine_kong_da .di h3{
	height: 30px;
}
#main .main_logo .mine .mine_kong_da .di h3 a{
	float: right;
}
#main .main_logo .mine .mine_kong_da .di li{
	float: left;
	border:1px solid #f1f1f1;
	width: 50px;
	height: 50px;
	margin-right: 8px;
}
#main .main_logo .mine .mine_kong_da .di li a{
	width: 50px;
	height: 50px;
	display: block;
	padding-left: 0px;
}
#main .main_logo .mine .xiajiao{
	width: 10px;
	height: 30px;
	display: block;
	margin-left: 8px;
	background: url(../images/xiaojiao.jpg) no-repeat;
	/*background: url(../images/xiaojiao2.jpg) -1px 0px no-repeat;*/
}
#main .main_logo .mine .xiajiao2{
	width: 10px;
	height: 30px;
	display: block;
	margin-left: 8px;
	background: url(../images/xiaojiao2.jpg) -1px -1px no-repeat;
}
#main .main_logo .mine a.mine_a{
	padding-left: 30px;
	line-height: 30px;
	background: #f7f7f7 url(../images/icon3.png) -118px -24px no-repeat;
}
#main .main_logo .mine a.mine_a_a{
	
	background: white url(../images/icon3.png) -118px -53px no-repeat;
}
#main .main_logo .jiesuan{
	width: 124px;
	height: 30px;
	border:1px solid #efefef;
	/*background: #f7f7f7;*/
	position: absolute;
	left: 1084px;
	top: 12px;
	z-index: 2;
}
#main .main_logo .jiesuan a{
	padding-left: 25px;
	background: #f7f7f7 url(../images/icon3.png) -121px -80px no-repeat;
}
#main .main_logo .jiesuan a.jiejie{
	background: #fff url(../images/icon3.png) -121px -111px no-repeat;
}
#main .main_logo .jiesuan .jie{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #f7f7f7;
	/*background: white;*/
}
#main .main_logo .jiesuan .jie_kong_da{
	width: 350px;
	height: 70px;
	border:1px solid #f1f1f1;
	background:white;
	top: 29px;
	right: -1px;
	position: absolute;
	display: none;
}
#main .main_logo .jiesuan .jie_kong_da span.gou{
	width: 57px;
	height: 49px;
	display: block;
	margin-left: 46px;
	margin-top: 10px;
	background:url(../images/icon3.png) no-repeat;
	float: left;
}
#main .main_logo .jiesuan .jie_kong_da span.gouwen{
	float: left;
	display: block;
	margin-left: 16px;
	margin-top: 30px;
	color: #999;
	
}
#main .main_logo .jiesuan .youjiao{
	width: 5px;
	height: 30px;
	margin-left: 5px;
	background: url(../images/youjiao.jpg) 0 2px no-repeat;
}
#main .main_logo .jiesuan .youjiao2{
	background: url(../images/youjiao2.jpg) 0 2px no-repeat;
}
#main .main_logo .jiesuan a{
	line-height: 30px;
}
/*logo区域结束*/
/*导航区域*/
#main .menu{
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	overflow: hidden;
	background:#E53F41;
	position: relative;
	z-index: 1;
}
#main .menu .menu_l{
	width: 210px;
	display: block;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	text-indent: 20px;
	font-family: "microsoft yahei";
}
#main .menu .menu_r{
	width: 1000px;
	background: url(../images/menu_bu.jpg) right center no-repeat;
}
#main .menu .menu_r a{
	padding:0px 17px;
	float: left;
	color: white;
	font:700 15px/40px "microsoft yahei";
}
#main .menu .menu_r a.active{
	width: 85px;
	text-align: center;
	padding: 0;
	background:#A40000;
}
#main .menu .menu_r a:hover{
	background: #A40000;
	text-decoration: none;
}
/*导航区域结束*/ 
/*左分类以及轮换图*/
#main .middle{
	height: 410px;
	/*overflow: hidden;*/
	position: relative;
	z-index: 21;
}
/*左侧*/
#main .middle .middle_l{
	width: 206px;
	height: 408px;
	border:2px solid #e4393c;
	border-top: 0px;
	background: #FAFAFA;
	position: relative;
	z-index: 21;
}
#main .middle .middle_l li{
	height:auto;
	margin: 0px;
	float: left;
}

#main .middle .middle_l li .bao {
	text-indent: 13px;
	width: 202px;
	position: relative;
	z-index: 2;
	height: 30px;
	cursor: pointer;
	border-bottom: 1px solid white;
}
#main .middle .middle_l li .bao.hover{
	border:none;
	background: white;
}
#main .middle .middle_l li .bao .last{
	height: 30px;
}
#main .middle .middle_l li .bao .kongshang  a{
	float: none;
	font-size: 14px;
	line-height: 30px;
	color: #333;
	/*background: red;*/
}
#main .middle .middle_l li .bao .kongshang  a:hover{
	color: #E4393C;
}
#main .middle .middle_l li .bao  span{
	width: 6px;
	height: 9px;
	display: block;
	background: url(../images/icon2.png) -110px -45px no-repeat;
	position: absolute;
	left: 190px;
	top: 13px;

}
#main .middle .middle_l li .bao  div.kong{
	width: 201px;
	height: 30px;
	background: white;
	position: absolute;
	left: 0px;
	top: -1px;
	border-top: 1px solid #ddd;
	border-bottom:1px solid #ddd;
	display: none;
}
#main .middle .middle_l li .bao  div.kongshang{
	width: 205px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#main .middle .middle_l  li div.youkuang{
	width: 725px;
	height: 457px;
	position: absolute;
	background: white;
	left: 200px;
	top: 1px;
	border: 1px solid #ddd;
	display: none;
	overflow: hidden;
	
}
#main .middle .middle_l  li div.youkuang .youkuang_l{
	width: 483px;
	height: 397px;
	float: left;
	/*background: red;*/
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div{
	overflow: hidden;
	width: 483px;
	padding-top: 10px;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi{
	border-bottom: 1px solid #eee;
	width: 483px;
	height: auto;
	overflow: hidden;
	margin-left: 10px;
	clear: both;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi div{
	float: left;
	width: 65px;
	/*border-right: 1px solid #ccc;*/
	text-align: center;
	line-height: 22px;
	height: 22px;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi div span{
	color: #ccc;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi div a{
	color: #E4393C;
	text-decoration: underline;
	font-weight: bold;

}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi ul{
	float: left;
	width: 417px;
	overflow: hidden;
	padding-bottom: 5px;
	height: auto;
	/*border-bottom: 1px solid #eee;*/
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi li{
	float: left;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	/*overflow: hidden;*/
	white-space: nowrap;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi li span{
	color: #ccc;
	line-height: 22px;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi li a{
	padding:0px  9px;
	color: #666;
	line-height: 22px;
	white-space: nowrap;
}
#main .middle .middle_l  li div.youkuang .youkuang_l .youkuang_l_div .youkuang_l_div_zi li a:hover{
	color:#E4393C;
	text-decoration: underline;
}
#main .middle .middle_l  li div.youkuang .youkuang_r{
	width: 194px;
	height: 397px;
	float: left;
	/*background: blue;*/
	padding-top: 10px;
	margin-left: 10px;
}
 #main .middle .middle_l  li div.youkuang .youkuang_r a.ju_xia{
 	display: block;
 	margin-bottom: 10px;
 	/*float: left;*/
 }
#main .middle .middle_l  li div.youkuang .youkuang_r .youkuang_r_div{
	width: 194px;
	overflow: hidden;
	margin-bottom: 20px;
}
#main .middle .middle_l  li div.youkuang .youkuang_r .youkuang_r_div h3{
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	color:#E4393C;
}
#main .middle .middle_l  li div.youkuang .youkuang_r .youkuang_r_div ul li{
	float: left;
	width: 90px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
}

#main .middle .middle_l li .bao  .kongshang{
	position: absolute;
	left: 0px;
	top: 0px;
}
#main .middle .middle_l li .bao  .kongshang a:hover{
	font-weight: 700;
}
/*左侧结束*/
/*中间*/
#main .middle .middle_m{
	margin-top: 10px;
	margin-left: 10px;
	background: red;
	height: 410px;
	position: relative;
	z-index:20;
}
#main .middle .middle_m .qiehuan_da{
	position: relative;
}
#main .middle .middle_m .qiehuan_da .qiehuan_da_tu{
	width: 165px;
	height: 22px;
	position: absolute;
	left: 505px;
	top: 210px;
	/*background: red;*/
}
#main .middle .middle_m .qiehuan_da .qiehuan_da_tu span{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #999;
	text-align: center;
	font-weight: bold;
	line-height: 22px;
	color: white;
	margin-left: 3px;
	cursor: pointer;
}
#main .middle .middle_m .qiehuan_da .qiehuan_da_tu span.active{
	background: red;
}
#main .middle .middle_m .qiehuan_da a{
	position: absolute;
	left: 0px;
	top: 0px;
	/*opacity: 0;*/
	/*filter:alpha(opacity=0);*/
}
#main .middle .middle_m .qiehuan_xiao{
	width: 668px;
	height: 159px;
	border:1px solid #eee;
	border-top: 0px;
	position: absolute;
	left: 0px;
	top: 240px;

}
#main .middle .middle_m .qiehuan_xiao .left_san{
	width: 30px;
	height:159px;
	display: block;
	/*background: url(../images/icon1.png) -85px 20px no-repeat;*/
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
}

#main .middle .middle_m .qiehuan_xiao .left_san span{
	width: 14px;
	height: 23px;
	display: block;
	position: absolute;
	left: 5px;
	top: 70px;
	background: url(../images/icon1.png) -91px -51px no-repeat;
}
#main .middle .middle_m .qiehuan_xiao .left_san span.yin{
	background: url(../images/15.png) -6px -5px no-repeat;
}
#main .middle .middle_m .qiehuan_xiao .qiehuan_xiao_gun{
	width: 608px;
	height: 159px;
	position: absolute;
	left: 30px;
	top: 0px;
	overflow: hidden;
}
#main .middle .middle_m .qiehuan_xiao .qiehuan_xiao_gun .gun{
	width: 2450px;
	height: 159px;
	position: absolute;
	left: 0px;
	top: 0px;

}
#main .middle .middle_m .qiehuan_xiao .qiehuan_xiao_gun .gun a.qiehuan_xiao_l{
	width: 202px;
	height: 159px;
	border-right: 1px solid #eee;
	color: white;
	font-size: 25px;
}

#main .middle .middle_m .qiehuan_xiao .right_san{
	width: 30px;
	height: 159px;
	display: block;
	background: url(../images/icon1.png) -60px -50px no-repeat;
	position: absolute;
	right: 0px;
	top: 0px;
	background: white;
	cursor: pointer;
}
#main .middle .middle_m .qiehuan_xiao .right_san span{
	width: 14px;
	height: 23px;
	display: block;
	position: absolute;
	left: 5px;
	top: 70px;
	background: url(../images/icon1.png) -60px -51px no-repeat;
}
#main .middle .middle_m .qiehuan_xiao .right_san span.yin2{
	background: url(../images/15.png) -6px -42px no-repeat;
}
/*中间结束*/
/*右侧*/
#main .middle .middle_r{
	width: 310px;
	height: auto;
	margin-top: 10px;
	position: relative;
	z-index: 19;
}
/*新闻资讯*/
#main .middle .middle_r .kuaibao{
	height: 134px;
	padding-top: 7px;
}
#main .middle .middle_r .kuaibao .kuaibao_main{
	width: 308px;
	height: 108px;
	border: 1px solid #f1f1f1;
}
#main .middle .middle_r .kuaibao .kuaibao_main li{
	width: 143px;
	height: 108px;
	float: left;
}
#main .middle .middle_r .kuaibao h2{
	width: 310px;
	overflow: hidden;
	padding-bottom: 5px;
	border-bottom: 2px solid #aaa;
	border-top: 0px;
}
#main .middle .middle_r .kuaibao h2 span{
	color: #666;
	font-size: 14px;
	font-weight: bold;
	font-family: 微软雅黑;
	
}
#main .middle .middle_r .kuaibao h2 a{
	color: #005EA7;
}
#main .middle .middle_r .kuaibao .kuaibao_main li{
	padding-left: 10px;
}
#main .middle .middle_r .kuaibao .kuaibao_main li.kuaibao_mian_l{
	border-right: 1px solid #eee;
}
#main .middle .middle_r .kuaibao .kuaibao_main li dd a{
	color: #666;
	line-height: 25px;
}
#main .middle .middle_r .kuaibao .kuaibao_main li dd a:hover{
	color: #E4393C;
}
/*新闻资讯结束*/
/*话费区域*/
#main .middle .middle_r  .huafei{
	width: 310px;
	height: 171px;
	margin-top: 18px;
	/*overflow: hidden;*/
	position: relative;
}
#main .middle .middle_r  .huafei ul{
	/*overflow: hidden;*/
	height: 25px;
	position: relative;
	z-index: 30;

}
#main .middle .middle_r  .huafei ul span.yuanbiao{
	width: 77px;
	height: 7px;
	display: block;
	position: absolute;
	top: 21px;
	left: 0px;
	background: url(../images/yuanbiao.gif) no-repeat;
}
#main .middle .middle_r  .huafei li{
	float: left;
	width: 77px;
	text-align: center;
	padding-bottom: 5px;
	/*border: 1px solid black;*/
}
#main .middle .middle_r  .huafei li a{
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}
#main .middle .middle_r  .huafei .biaodan{
	width: 308px;
	height: 142px;
	_height: 137px;/*兼容ie6*/
	/*background: red;*/
	border: 1px solid #f1f1f1;
	border-top: 2px solid #aaa;
	position: absolute;
	left: 0px;
	top: 26px;
}
#main .middle .middle_r  .huafei .biaodan .dan{
	position: relative;
	width: 298px;
	height: 137px;
	padding-left: 10px;
}
#main .middle .middle_r  .huafei .biaodan .dan .dan1 .dan1_top{
	margin-top: 10px;
	margin-bottom: 10px;
}
#main .middle .middle_r  .huafei .biaodan .dan .dan2 .dan2_m{
	margin-top: 5px;
	margin-bottom: 5px;
}
#main .middle .middle_r  .huafei .biaodan .dan .dan3{
	height: 137px;

}
#main .middle .middle_r  .huafei .biaodan .dan .dan3 input.chongzhi{
	margin-left: 25px;
}
#main .middle .middle_r  .huafei .biaodan .dan .dan4 a{
	display: block;
}
#main .middle .middle_r  .huafei .biaodan .dan .dan4 input.chongzhi{
	margin-left:30px;

}
#main .middle .middle_r  .huafei .biaodan .dan .dan3 .dan3_l{
	width: 146px;
	float: left;
}
#main .middle .middle_r  .huafei .biaodan .dan .dan3 .dan3_r{
	width: 150px;
	float: left;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_bg{
	width: 70px;
	height: 70px;
	background: url(../images/shuang.png) no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_bgr{
	width: 215px;
	margin-left: 90px;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_bgr h3{
	color: #666;
	font-weight: bold;
	margin-top: 10px;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_bgr p{
	color: #FF0000;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_bgr a{
	color: #005EA7;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_bgr .chongzhi{
	margin-left: 0px;
	margin-right: 10px;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_r{
	width: 70px;
	height: 70px;
	background: url(../images/shuang.png) no-repeat;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
#main .middle .middle_r  .huafei .biaodan ul{
	overflow: hidden;
	width: 298px;
	padding-left: 10px;
}
#main .middle .middle_r  .huafei .biaodan ul li{
	width: 35px;
	float: left;
	color: #ddd;
}
#main .middle .middle_r  .huafei .biaodan ul li a{
	font-size: 12px;
	font-weight: normal;
	color: #005EAB;
}
#main .middle .middle_r  .huafei .hide{
	display:none;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_kuang{
	padding-top: 10px;
	padding-left: 10px;
	color: #666;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_kuang p .zhichi{
	display: block;
	padding-left: 49px;
	padding-bottom: 15px;
	line-height: 20px;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_kuang p .haoma{
	height: 20px;
	border: 1px solid #aaa;
	color: #999;
	text-indent: 2px;
}
#main .middle .middle_r  .huafei .biaodan .chongzhi{
	width: 70px;
	height: 21px;
	line-height: 21px;
	margin-left: 49px;
	margin-top: 8px;
	color: white;
	background: url(../images/anniu.jpg) no-repeat;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_kuang p .mianzhi{
	padding-left: 9px;
}
#main .middle .middle_r  .huafei .biaodan .biaodan_kuang p a{
	color: #005ea7;
	padding-left: 7px;
}
#main .middle .middle_r  .huafei .biaodan .p_juli{
	margin-top: 5px;
	margin-bottom: 5px;
}
#main .middle .middle_r  .huafei .biaodan .chongzhi_y{
	width: 70px;
	height: 21px;
	line-height: 21px;
	margin-left: 0px;
	margin-top: 8px;
	color: white;
	background: url(../images/anniu.jpg) no-repeat;
}
/*话费区域结束*/
/*右侧结束*/
/*左分类以及轮换图结束*/
/*橱窗*/
#main .chuchuang{
	width: 1210px;
	margin-top: 10px;
	height: 515px;
	position: relative;
	z-index: 1;
	clear: both;
}
#main .chuchuang .neirong ul{
	overflow: hidden;
}
#main .chuchuang .neirong li{
	width: 295px;
	height: 190px;
	float: left;
	margin:10px;
	margin-right: 0px;
	/*background: red;*/
	position: relative;
	cursor: pointer;
	overflow: hidden;

}
#main .chuchuang .neirong li img{
	position: absolute;
	left: 0px;
	left: 0px;
}
#main .chuchuang .neirong li .zhezhao .bei{
	background: #e4393c;
	color: white;
	opacity: 1;
	padding: 1px;

}
#main .chuchuang .neirong li .zhezhao .tuan{
	width: 96px;
	height: 70px;
	margin-top:28px;
	display: block;
	background: url(../images/tuan.png) 0 38px no-repeat;
}
#main .chuchuang .neirong li .zhezhao .tuan:hover{
	text-decoration: none;
}
#main .chuchuang .neirong li .zhezhao .tuan .tuanjia{
	color: #999;
}
#main .chuchuang .neirong li .zhezhao .tuan .jiage{
	font-size: 22px;
	color: #e4393c;
	font-family: Verdana;
}
#main .chuchuang .neirong li.first{
	margin-left: 0px;
	
}
#main .chuchuang .neirong li.last{

	margin-right: 0px;
}
/*#main .chuchuang .neirong li.dapai{
	background: url(../images/chuchuang_1.jpg) no-repeat;
}
#main .chuchuang .neirong li.dijia{
	background: url(../images/dijia.jpg) no-repeat;
}
#main .chuchuang .neirong li.jingpin{
	background: url(../images/jingpin.jpg) no-repeat;
}
#main .chuchuang .neirong li.tuangou{
	background: url(../images/tuangou.png) no-repeat;
}
#main .chuchuang .neirong li.shoufa{
	background: url(../images/shoufa.jpg) no-repeat;
}
#main .chuchuang .neirong li.temai{
	background: url(../images/temai.jpg) no-repeat;
}
#main .chuchuang .neirong li.yushou{
	background: url(../images/yushou.jpg) no-repeat;
}
#main .chuchuang .neirong li.qingchun{
	background: url(../images/qingchun.jpg) no-repeat;
}*/
#main .chuchuang .neirong li .zhezhao{
	width: 100px;
	height: 159px;
	/*background: rgba(255,255,255,.8);*/
	background: white;
	opacity: 0.8;  
	filter:alpha(opacity=80); 
	position: absolute;
	left: 0px;
	top:0px;
	padding-left: 20px;
	padding-top: 31px;
}
#main .chuchuang .neirong li .zhezhao h2{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
}
#main .chuchuang .neirong li .zhezhao p{
	color: #ea6365;
	font-family: "microsoft yahei";
}
#main .chuchuang .neirong li .zhezhao p a{
	color: #666;
	font-family: "microsoft yahei";
}
#main .chuchuang .neirong li .zhezhao p a:hover{
	color: #ea6365;
	font-family: "microsoft yahei";
}
#main .chuchuang .neirong li .zhezhao .xia{
	margin-top: 25px;
}
#main .chuchuang .neirong li .zhezhao .xia li{
	float: none;
	width: 80px;
	height: 18px;
	margin:0px;
	/*border: 1px solid black;*/
}
#main .chuchuang .neirong li .zhezhao .xia li span{
	color: #999;
	font-family: "microsoft yahei";
}
#main .chuchuang .neirong li .zhezhao .xia li span.xiaodian{
	width: 2px;
	height: 2px;
	background: url(../images/dian.gif) no-repeat;
	margin-top: 9px;
	margin-right: 5px;
}
/*橱窗下三广告*/
#main .chuchuang .chuchuang_ad{
	width: 1210px;
	overflow: hidden;
}
#main .chuchuang .chuchuang_ad a{
	width: 396px;
	height: 70px;
	margin-right: 11px;
	/*border: 1px solid #c0c0c0;*/
}
#main .chuchuang .chuchuang_ad a.last{
	margin-right: 0px;
}
/*橱窗下三广告结束*/
/*橱窗结束*/
/*家电通讯*/
#main .jiadian{
	clear: both;
	width: 1210px;
	height: 411px;
	/*display: inline;*/
	
}
/*左侧*/
#main .jiadian .jiadian_l{
	width: 210px;
	height: 411px;
	border-bottom: 1px solid #ddd;
}
#main .jiadian .jiadian_l h2{
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 22px;
	font-family: "microsoft yahei";
	color: #666;
	font-weight: bold;
	border-bottom: 2px solid #aaa;
}
#main .jiadian .jiadian_l h2 span{
	font-size: 18px;
	width: 28px;
	height: 37px;
	font-family: 微软雅黑;
	font-weight: bold;
	color: white;
	line-height: 37px;
	text-align: center;
	float: left;
	margin-top: 5px;
	background: url(../images/20130330C.png) -40px 4px no-repeat;
}
#main .jiadian .jiadian_l .liebiao{
	border-right: 1px solid #f1f1f1;
	padding-top: 5px;
	height: auto;
	float: left;
	overflow: hidden;
}
#main .jiadian .jiadian_l .liebiao li{
	float: left;
	width: 104px;
	line-height: 25px;
	text-indent: 5px;
}
#main .jiadian .jiadian_l .jiadian_l_img{
	border-right: 1px solid #f1f1f1;
	display: block;
}
#main .jiadian .jiadian_l .jiadian_l_img img{
	width:209px;
}
/*左侧结束*/
/*中间*/
#main .jiadian .jiadian_m{
	width: 791px;
	height: auto;
	position: relative;
}
#main .jiadian .jiadian_m .jiadian_fenlei{
	height: 48px;
	border-bottom: 2px solid #aaa;
	height: 48px;
	position: relative;
}
#main .jiadian .jiadian_m  span.yi{
	width: 160px;
	height: 7px;
	display: block;
	position: absolute;
	left: 0px;
	top: 43px;
	background: url(../images/dabiao.gif) no-repeat;
	font-size: 0px;
	/*background: red;*/
}
#main .jiadian .jiadian_m .jiadian_fenlei li{
	width: 158px;
	float: left;
	/*border: 1px solid black;*/
	color: #666;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	/*background: orange;*/
}
#main .jiadian .jiadian_m .xianei{
	width: 791px;
	height: 362px;
	position: relative;
}
#main .jiadian .jiadian_m .xianei ul{
	/*display: block;*/
	position: absolute;
	left: 0px;
	top: 0px;
	background:none;
	font-size: 12px;
	color: black;
	display: none;
}
#main .jiadian .jiadian_m .xianei .jiadian_img{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	background:none;
	font-size: 12px;
	color: black;
}
#main .jiadian .jiadian_m .xianei  li{
	width: 157px;
	height: 180px;
	float: left;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	/*background: red;*/
	position: relative;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da{
	width: 473px;
	height: 180px;
	position: relative;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da p {
	width: 250px;
	height: 5px;
	position: absolute;
	left: 150px;
	top: 170px;
	/*border:1px solid black;*/
	/*display: none;*/
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da p span{
	width: 36px;
	height: 5px;
	float: left;
	margin-left: 2px;
	background: #999;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 0px;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da p span.xuan{
	background: #7ABD54;
	font-size: 0px;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da a{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da a.show{
	display: block;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li a.jiadian_img_a{
	position: absolute;
	top: 10px;
	left: 30px;
}
#main .jiadian .jiadian_m .xianei ul li a.jiadian_img_a{
	position: absolute;
	top: 10px;
	left: 30px;
}
#main .jiadian .jiadian_m .xianei ul li a.name{
	position: absolute;
	top: 116px;
	left: 11px;
}
#main .jiadian .jiadian_m .xianei ul li span{
	color: #e4393c;
	position: absolute;
	top: 150px;
	left: 11px;
}
/*#main .jiadian .jiadian_m .xianei ul li.first{
	width: 157px;
}*/
#main .jiadian .jiadian_m .xianei ul li.jiadian_img_last{
	width: 158px;
}
#main .jiadian .jiadian_m .xianei .jiadian_img li.da{
	width: 473px;
	height: 180px;
}
/*中间结束*/
/*右侧*/
#main .jiadian .jiadian_r{
	width: 209px;
	height: 411px;
	/*background: red;*/
}
#main .jiadian .jiadian_r h2{
	width: 209px;
	height: 48px;
	border-bottom: 2px solid #aaa;
}
#main .jiadian .jiadian_r h2 a{
	width: 104px;
	/*padding-bottom: 10px;*/
	/*border:1px solid black;*/
	/*background: blue;*/
	margin-top: 20px;
	/*text-indent: 25px;*/
	color: #005ea7;
}
#main .jiadian .jiadian_r .jiadian_r_ul li{
	margin: 0px;
	padding: 0px;
	height: 35px;
	_margin-bottom:-2px;   
	/*background: red;*/
	border-bottom: 1px dashed #f1f1f1;
}
#main .jiadian .jiadian_r .jiadian_r_ul li.nodash{
	height: 36px;
	border-bottom: 0px;
}
#main .jiadian .jiadian_r .jiadian_r_ul li.last{
	width: 209px;
	height: 180px;
	/*background: blue;*/
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
}
#main .jiadian .jiadian_r .jiadian_r_ul li.last img.hide{
	display: none;
}
#main .jiadian .jiadian_r .jiadian_r_ul li.last span.zuo{
	width: 36px;
	height: 5px;
	display: block;
	position: absolute;
	left: 70px;
	top: 170px;
	background: #7ABD54;
	font-size: 0px;
}
#main .jiadian .jiadian_r .jiadian_r_ul li.last span.you{
	width: 36px;
	height: 5px;
	display: block;
	position: absolute;
	left: 110px;
	top: 170px;
	background: #999;
	font-size: 0px;
}
#main .jiadian .jiadian_r .jiadian_r_ul li.last a{
	width: 209px;
	height: 180px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}
#main .jiadian .jiadian_r .jiadian_r_ul li a{
	float: left;
	/*padding-right: 1px;*/
}
/*右侧结束*/
/*家电通讯结束*/
/*底部热门区域*/
#main .remen{
	height: 193px;
	margin-top: 20px;
	
}
/*左侧*/
#main .remen .remen_l{
	width: 890px;
	height: 190px;
	border: 1px solid #ddd;
	border-top: 2px solid #aaa;
}
#main .remen .remen_l li{
	width: 443px;
	height: 190px;
	float: left;
	position: relative;
	overflow: hidden;
}
#main .remen .remen_l li dl{
	width: 443px;
	margin: 0 auto;
	height: 190px;
	overflow: hidden;
	/*background: red;*/
}
#main .remen .remen_l li dt{
	font-size: 14px;
	font-family: "microsoft yahei";
	height: 29px;
	line-height: 29px;
	color: #666666;
	text-indent: 8px;
	
}
#main .remen .remen_l li dd{
	width: 424px;
	height: 70px;
	border-bottom: 1px dotted #ccc;
	margin: 0 auto;
	/*background: red;*/
	position: relative;
	margin-top: 10px;
	clear: both;
}

#main .remen .remen_l li dd .douhao{
	width: 34px;
	height: 24px;
	display: block;
	position: absolute;
	left: 396px;
	top: 10px;
	background: url(../images/icon1.png) 0 -80px no-repeat;
}
#main .remen .remen_l li dd .shaidan{
	width:50px;
	height: 50px; 
	position: relative;

}
#main .remen .remen_l li dd .shaidan span{
	width: 17px;
	height: 20px;
	position: absolute;
	left: 33px;
	top: 0px;
	background: url(../images/icon1.png) no-repeat -200px -50px;

}
#main .remen .remen_l li dd .shaidan_p{
	width: 295px;
	height: 60px;
	margin-left: 10px;
}	
#main .remen .remen_l li dd .shaidan_p h2{
	height: 20px;
}
#main .remen .remen_l li dd .shaidan_p h2 a{
	color: #005EA7;
}
#main .remen .remen_l li dd .shaidan_p p{
	width: 295px;
	height: 40px;
	/*background: red;*/
	/*overflow: hidden;*/
}
#main .remen .remen_l li dd .shaidan_p p a{
	color: #999;

}
/*左侧结束*/
/*右侧*/
#main .remen .remen_r{
	width: 310px;
	height: 193px;
}
#main .remen .remen_r .remen_r_top{
	width: 308px;
	height: 139px;
	border: 1px solid #ddd;
	border-top: 2px solid #aaa;
}
#main .remen .remen_r .remen_r_top h2{
	font-size: 14px;
	font-family: "microsoft yahei";
	height: 29px;
	line-height: 29px;
	color: #666666;
	text-indent: 8px;
}
#main .remen .remen_r .remen_r_top h2 a{
	color: #005EA7;
	font-size: 12px;
	padding-right: 2px;
}
#main .remen .remen_r .remen_r_top .xinxi{
	height: 110px;
}
#main .remen .remen_r .remen_r_top .xinxi .xinxi_l{
	margin-left: 10px;
}
#main .remen .remen_r .remen_r_top .xinxi .xinxi_r{
	margin-left: 10px;
}
#main .remen .remen_r .remen_r_top .xinxi .xinxi_r li{
	position: relative;
	/*border: 1px solid black;*/
	text-indent: 10px;
	height: 25px;
	line-height: 25px;
}
#main .remen .remen_r .remen_r_top .xinxi .xinxi_r li span{
	width: 3px;
	height: 2px;
	display: block;
	/*border: 1px solid black;*/
	position: absolute;
	left: 5px;
	top: 10px;
	background: url(../images/qiandian.gif) no-repeat;
}
#main .remen .remen_r .remen_r_top .xinxi .xinxi_r li a{
	color: #005EA7;
}
#main .remen .remen_r .remen_r_bottom{
	width: 310px;
	height:42px;
	margin-top: 5px;
}
#main .remen .remen_r .remen_r_bottom h2{
	color: #666;
	font-size: 14px;
	font-weight: bold;
}
#main .remen .remen_r .remen_r_bottom .remen_shuru{
	width: 240px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #676767;
	border-bottom: 1px solid #bbb;
	background: url(../images/icon1.png) -250px -45px no-repeat;
	text-indent: 30px;
}
#main .remen .remen_r .remen_r_bottom .remen_tijiao{
	width: 63px;
	height: 25px;
	background: url(../images/remen_tijiao.gif) no-repeat;
	font-weight: bold;
	color: white;
	margin-top: -1px;
	margin-left: 5px;
}
/*右侧结束*/
/*底部热门区域结束*/
/*指南*/
#main .zhinan{
	width: 1210px;
	height: 156px;
	border-top: 1px solid #ddd;
	border-bottom:1px solid #f1f1f1;
	margin-top: 10px;
	padding-top: 20px;
	/*border: 1px solid black;*/
}
#main .zhinan .zhinan_dl{
	width: 140px;
	float: left;
	height: 176px;
	margin-left: 40px;
	/*background: red;*/
}
#main .zhinan .zhinan_dl dt{
	padding-left: 40px;
	height: 25px;
	/*background: blue;*/
	position: relative;
	color: #666;
	font-size: 14px;
	font-weight: bold;
}
#main .zhinan .zhinan_dl dd{
	padding-left: 40px;
}
#main .zhinan .zhinan_dl dt span{
	width: 40px;
	height: 40px;
	background: url(../images/icon2.png) 0px -55px  no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
}
#main .zhinan .zhinan_dl dt span.peisong{
	background: url(../images/icon2.png) -50px -55px  no-repeat;
}
#main .zhinan .zhinan_dl dt span.zhifu{
	background: url(../images/icon2.png) 0px -105px  no-repeat;
}
#main .zhinan .zhinan_dl dt span.shouhou{
	background: url(../images/icon2.png) -50px -105px  no-repeat;
}
#main .zhinan .zhinan_dl dt span.tese{
	background: url(../images/icon2.png) -0px -155px  no-repeat;
}

#main .zhinan .zhinan_dl_teshu{
	width: 203px;
	height:169px;
	margin-left: 0px;
	background: url(../images/icon1.png) 0 -131px  no-repeat;

}
#main .zhinan .zhinan_dl_teshu dt{
	color: #666;
	font-size: 14px;
	font-weight: bold;
}
#main .zhinan .zhinan_dl_teshu dd.fugai{
	color: #666;
}
#main .zhinan .zhinan_dl_teshu a.more{
	width: 100px;
	height: 20px;
	display: block;
	color: #005ea7;
	margin-left: 140px;
	margin-top: 30px;
}
/*指南结束*/
/*底部导航*/
#main .dibu_menu{
	width: 820px;
	clear: both;
	margin: 0 auto;
	/*background: red;*/
}
#main .dibu_menu a{
	width: 61px;
	float: left;
	margin-left: 10px;
	background: url(../images/dibumenu_icon.gif) right 4px no-repeat;
}
#main .dibu_menu a.last{
	width: 100px;
	background:none;
}
/*底部导航结束*/
/*icp信息*/
#main .icp{
	width: 900px;
	height: 162px;
	margin: 0 auto;
	clear: both;
}
#main .icp p{
	text-align: center;
	line-height: 18px;
	height: 70px;
	color: #666;
	padding-top: 10px;
}
#main .icp .icp_img{
	width: 500px;
	height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
}
#main .icp .icp_img a{
	float: left;
	margin-left: 15px;
}

/*icp信息结束*/
/*中间主体区域结束*/